:root {
  --header: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

#root {
  display: grid;
  grid-template-rows: var(--header) auto minmax(min-content, 1fr);
  grid-template-columns: 1fr auto;
  grid-template-areas:
    "header header"
    "spinner adder"
    "spinner fields";
  height: 100%;
}
